.con2{
    margin: 10px;
}
.card1{
    background-color: rgba(85, 255, 255, 0.275);
    padding: 10px 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    width: 300px;
    height: 90px;
}
img{
    width: 80px;
    border-radius: 50%;
}

.piv1{
    padding: 3px;
}

.names1{
    padding-left: 30px;

}



.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }

.main{
    display: flex;
    flex-direction: column;

    margin: 10px;
}
  
  .left {
    left: 0;
    background-color: #FA8072;
    Overflow-y:scroll;
  }
  
  .right {
    right: 0;
    background-color: whitesmoke;
  }
  
  .centered {
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .card {
    transition: 0.3s;
    padding: 10px;
    border-radius: 30px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 20px;
    width: 120px;
    height: 120px;
    background-color: white;
    border-radius: 30px;
  }